[submodule "parts/KiCad-Libraries"]
	path = parts/KiCad-Libraries
	url = https://github.com/imciner2/KiCad-Libraries
[submodule "parts/reform"]
	path = parts/reform
	url = https://source.mntmn.com/MNT/reform.git
[submodule "parts/kicad_libs"]
	path = parts/kicad_libs
	url = https://github.com/jamesmunns/kicad_libs/
[submodule "parts/kicad-banana"]
	path = parts/kicad-banana
	url = https://github.com/arturo182/kicad-banana.git
